.main-content {
    margin-right: 15rem;
    margin-top: 6.25rem;
    margin-left: 17rem;
    margin-right: 2rem;
}

.main-content-expanded {
    margin-top: 6.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
}